/*Mobile Navbar Styling */
.header-brand {
    background-color: rgb(19, 112, 92);
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.mobile-navbar>ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-navbar>ul>li {
    display: inline;
    margin: 0 5px;
    padding: 10px;
    font-size: 20px;
}

.mobile-navbar>ul>li>a {
    color: rgb(82, 81, 81);
    font-weight: bold;
}

.vertical-line {
    height: 40px;
    width: 1px;
    background-color: rgb(216, 211, 211);
    list-style: none;
}

/*Desktop Navbar styling*/
.brand {
    background-color: rgb(19, 112, 92);
    width: 30%;
    padding: 10px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}

.desktop-container {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.brand>p {
    border: 0;
    margin: 0;
}

.desktop-navbar>ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    line-height: 60px;
    height: 60px;
    padding-right: 20px;
    list-style: none;
}

.desktop-navbar>ul>li {
    display: inline;
    margin: 0 5px;
    padding: 10px;
    font-size: 20px;
}

.desktop-navbar>ul>li>a {
    color: rgb(82, 81, 81);
    font-weight: bold;
}

.desktop-vertical-line {
    height: 60px;
    width: 1px;
    background-color: rgb(216, 211, 211);
    list-style: none;
}

/* Media Queries*/

@media screen and (min-width: 700px) {
    .in-mobile {
        display: none;
    }

    #is-desktop {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .in-mobile {
        display: unset;
    }

    #is-desktop {
        display: none;
    }
}


/*About Me page styling*/

@import url('https://fonts.googleapis.com/css?family=Poppins');



@media only screen and (max-width: 768px) {
    #navbar {
        justify-content: center;
    }

    #image {
        justify-content: center;
    }

    #media-body {
        justify-content: center;
        padding: 0;
    }

    #media-body h1 {
        text-align: center;
    }

    .row {
        padding-left: 0;
    }
}


.row {
    padding-top: 50px;
    padding-left: 50px;
}

#image {
    padding-top: 100px;
}

#media-body {
    padding: 100px;
    font-family: 'poppins', 'sans-serif';
}

/*footer Styling*/
#sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(19, 112, 92);
}