/*Portfolio content styling*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

#block-content {

    font-family: 'poppins', 'sans-serif';
    padding-bottom: 20px;
}

main {
    padding-top: 20px;
}